html,
body {
    background: rgb(232, 227, 208);
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

header,
footer {
    position: absolute;
    text-align: right;
    width: 100%;
    right: 20px;
    a {
        letter-spacing: 1px;
        margin-left: 10px;
        text-decoration: none;
    }
}

header { top: 20px; }
footer { bottom: 20px; }

.hint {
    color: rgb(198, 198, 198);
    letter-spacing: 2px;
    margin: 180px 0 0 50px;
}

.message {
    color: rgb(20, 20, 20);
    font-family: Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 28px;
    letter-spacing: 1px;
    width: 700px;
    padding: 30px 30px 30px 50px;
}

.top-container {
    position: fixed;
    top: 200px;
    width: 100%;
    .top {
    }
}

.bottom-container {
    position: absolute;
    top: 2500px;
    width: 100%;
    height: 2000px;
    .bottom {
    }
    .arttribute {
        text-align: right;
        width: 700px;
        padding: 0 40px;
        a {
            font-size: 20px;
            letter-spacing: 2px;
            margin-left: 10px;
            text-decoration: none;
            color: rgb(73, 73, 73);
            &:hover {
                color: rgb(128, 135, 123);
            }
            &:visited {
                color: rgb(80, 69, 74);
            }
        }
    }
}


