html,
body {
  background: #e8e3d0;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

header,
footer {
  position: absolute;
  text-align: right;
  width: 100%;
  right: 20px;
}

header a,
footer a {
  letter-spacing: 1px;
  margin-left: 10px;
  text-decoration: none;
}

header {
  top: 20px;
}

footer {
  bottom: 20px;
}

.hint {
  color: #c6c6c6;
  letter-spacing: 2px;
  margin: 180px 0 0 50px;
}

.message {
  color: #141414;
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
  font-size: 28px;
  letter-spacing: 1px;
  width: 700px;
  padding: 30px 30px 30px 50px;
}

.top-container {
  position: fixed;
  top: 200px;
  width: 100%;
}

.bottom-container {
  position: absolute;
  top: 2500px;
  width: 100%;
  height: 2000px;
}

.bottom-container .arttribute {
  text-align: right;
  width: 700px;
  padding: 0 40px;
}

.bottom-container .arttribute a {
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 10px;
  text-decoration: none;
  color: #494949;
}

.bottom-container .arttribute a:hover {
  color: #80877b;
}

.bottom-container .arttribute a:visited {
  color: #50454a;
}
