html,
body {
  background: #777982;
  height: 100%;
}

.main-container {
  min-height: 100%;
  position: relative;
}

.title {
  color: #1c1c1c;
  font-family: sans-serif;
  font-size: 40px;
  margin: 30px auto;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.paint-container {
  padding-bottom: 60px;
}

.workspace {
  background-color: #fefcec;
  margin: 0 auto;
  padding: 40px 40px;
  width: 850px;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
  box-shadow: 0 0 8px black;
}

.color-palette {
  float: left;
}

.color-palette .color-block {
  border: 1px solid #b5b5b5;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.color-palette .red {
  background-color: #de0000;
}

.color-palette .yellow {
  background-color: #dede00;
}

.color-palette .blue {
  background-color: #0000de;
}

.color-palette .white {
  background-color: white;
}

.painting {
  border: 1px solid black;
  float: right;
  height: 500px;
  width: 700px;
  background: white;
}

.painting .row-1,
.painting .row-2,
.painting .row-3 {
  border-bottom: 10px solid black;
}

.painting .row-1,
.painting .row-1 > div {
  height: 100px;
}

.painting .row-2,
.painting .row-2 > div {
  height: 170px;
}

.painting .row-3,
.painting .row-3 > div {
  height: 80px;
}

.painting .row-4,
.painting .row-4 > div {
  height: 120px;
}

.painting [class^='col-'] {
  float: left;
}

.painting .col-1,
.painting .col-2,
.painting .col-3 {
  border-right: 10px solid black;
}

.painting .col-1 {
  width: 120px;
}

.painting .col-2 {
  width: 300px;
}

.painting .col-3 {
  width: 100px;
}

.painting .col-4 {
  width: 150px;
}

.clear {
  clear: both;
}

footer {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  position: absolute;
}

footer a {
  color: #6e6e6e;
  font-size: 15px;
  letter-spacing: 2px;
  margin: 0 10px;
  padding-left: 15px;
  text-decoration: none;
}

footer a:visited {
  color: #3c3c3c;
}

footer a:hover {
  color: #47904c;
}

footer .box-1 {
  border-left: 16px solid #54ad41;
}

footer .box-2 {
  border-left: 16px solid #1737e7;
}
