html,
body {
    background: rgb(119, 121, 130);
    height: 100%;
}

.main-container {
    min-height: 100%;
    position: relative;
}

.title {
    color: rgb(28, 28, 28);
    font-family: sans-serif;
    font-size: 40px;
    margin: 30px auto;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, .5), 1px 1px 0 rgba(0, 0, 0, .5);
}

.paint-container {
    padding-bottom: 60px;
}

@mixin box-shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

.workspace {
    background-color: rgb(254, 252, 236);
    margin: 0 auto;
    padding: 40px 40px;
    width: 850px;
    @include box-shadow(0 0 8px rgb(0, 0, 0));
}

.color-palette {
    float: left;
    
    .color-block {
        border: 1px solid rgb(181, 181, 181);
        height: 50px;
        margin-bottom: 10px;
        width: 50px;
    }
    
    .red {
        background-color: rgb(222, 0, 0);
    }
    
    .yellow {
        background-color: rgb(222, 222, 0);
    }
    
    .blue {
        background-color: rgb(0, 0, 222);
    }
    
    .white {
        background-color: rgb(255, 255, 255);
    }
    
}

.painting {
    border: 1px solid rgb(0, 0, 0);
    float: right;
    height: 500px;
    width: 700px;
    background: rgb(255, 255, 255);
    
    .row-1,
    .row-2,
    .row-3 {
        border-bottom: 10px solid rgb(0, 0, 0);
    }
    
    .row-1,
    .row-1 > div { height: 100px; }
    .row-2,
    .row-2 > div { height: 170px; }
    .row-3,
    .row-3 > div { height: 80px; }
    .row-4,
    .row-4 > div { height: 120px; }
    
    [class ^= 'col-'] {
        float: left;
    }
    .col-1,
    .col-2,
    .col-3 {
        border-right: 10px solid rgb(0, 0, 0);
    }
    
    .col-1 { width: 120px; }
    .col-2 { width: 300px; }
    .col-3 { width: 100px; }
    .col-4 { width: 150px; }
}

.clear {
    clear: both;
}

footer {
    background: rgba(0, 0, 0, .2);
    bottom: 0;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    position: absolute;
    
    a {
        color: rgb(110, 110, 110);
        font-size: 15px;
        letter-spacing: 2px;
        margin: 0 10px;
        padding-left: 15px;
        text-decoration: none;
        
        &:visited {
            color: rgb(60, 60, 60);
        }
        
        &:hover {
            color: rgb(71, 144, 76);
        }
    }
    
    .box-1 {
        border-left: 16px solid rgb(84, 173, 65);
    }
    
    .box-2 {
        border-left: 16px solid rgb(23, 55, 231);
    }
}

