body {
  background: #f0efe7;
  margin: 0;
  letter-spacing: 2px;
}

header {
  background: #5a17c7;
  width: 100%;
  padding: 20px;
}

header a {
  float: left;
  color: white;
  font-size: 15px;
  letter-spacing: 2px;
  text-decoration: none;
  margin-right: 20px;
}

.clear {
  clear: both;
}

.cat {
  padding: 50px;
  margin: 20px auto;
  width: 200px;
  background: #dcf545;
  text-align: center;
  font-size: 35px;
}

.text-container {
  padding: 15px 20px;
  margin: 40px auto;
  width: 400px;
  text-align: center;
}

.text-container .message {
  margin: 0;
  font-size: 25px;
}

.text-container .attribute {
  margin: 0;
  font-size: 15px;
}

.box-shadow,
.text-shadow {
  z-index: 10;
}
